<div class="container">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item" *ngIf="isLoggedIn()">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
    <li class="nav-item" *ngIf="!isLoggedIn()">
      <a class="nav-link" routerLink="/register">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/support">Support</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn()">
      <a class="nav-link" routerLink="/my-account">My Account</a>
    </li>
    <li class="nav-item" *ngIf="!isLoggedIn()">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn()">
      <a class="nav-link" (click)="logout()">Logout</a>
    </li>
  </ul>
</div>

<br />

<div class="text-center">
  <h1>NotSoFitBit</h1>
</div>

<div class="text-center">
  <img
    class="img-fluid center"
    src="NotSoFitBit.jpg"
    alt="Not So Fit Bit Logo"
  />
</div>

<router-outlet></router-outlet>
