<div class="container">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center">Edit Your Day!</h4>
  
        
        <form class="ng-untouched ng-pristine ng-valid">
          <div class="form-group row">
            <label for="date" class="col-sa-s col-form-label"> Date</label>
  
            <div class="col-sm-10">
              <input
                type="text"
                id="Date"
                class="form-control"
                [(ngModel)]="date"
                name="date"
                required
              />
            </div>
          </div>
  
          <div class="form-group row">
            <label for="workout" class="col-sa-s col-form-label">
              Workout</label
            >
  
            <div class="col-sm-10">
              <input
                type="text"
                id=" Workout"
                class="form-control"
                [(ngModel)]="workout"
                name="workout"
                required
              />
            </div>
          </div>
  
          <div class="form-group row">
            <label for="exercise" class="col-sa-s col-form-label">
              Exercise Duration</label
            >
  
            <div class="col-sm-10">
              <input
                type="text"
                id="Exercise Duration"
                class="form-control"
                [(ngModel)]="exerciseDuration"
                name="exerciseDuration"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="fluid" class="col-sa-s col-form-label">
              Fluid intake</label
            >
  
            <div class="col-sm-10">
              <input
                type="text"
                id="Fluid Intake"
                class="form-control"
                [(ngModel)]="fluid"
                name="fluid"
                required
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="calorie" class="col-sa-s col-form-label">
              Calorie Intake</label
            >
  
            <div class="col-sm-10">
              <input
                type="text"
                id="Calorie Intake"
                class="form-control"
                [(ngModel)]="calorie"
                name="calorie"
                required
              />
            </div>
          </div>
        </form>
  
        <div class="text-right">
          <button class="btn btn-dark" (click)="onSubmit()">Save</button>
          <button class="btn btn-dark" (click)="onCancel()">Cancel</button>
        </div>
       
      </div>
    </div>
  </div>
