.day-card {
    max-width: 360px;
    
    font-size: 1.2rem;
    user-select: none;
    text-align: center;
    padding: 1rem;
    box-shadow: red;
    margin-bottom: 1.5rem;
}
.card-container {
    display: flex;
    justify-content: flex-start;
    gap: 0rem;
    flex-wrap: wrap;
}