<div class="container text-center mt-5">
    <h2>About NotSoFitBit</h2>
    <p class="mt-3">
        NotSoFitBit lets users log and monitor their fitness data to visualize progress throughout their health journey.
    </p>
    <p>
      Whether you're just starting your health journey or simply trying to walk to the fridge less often, we're here to track your progress, give you some laughs, and help you stay motivated.
    </p>
    <p>
      Built by a group of students at NDSU.
    </p>
  </div>
  